.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.content {
    height: 100%;
    overflow: auto;

    background-color: #2E2626;
    margin-left: 200px;

    margin-top: 1px;
    max-width: 1000px;
}

.menu {
    position: fixed;
    width: 199px;
    float: left;
    font-family: Arial;
}

.menu ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.menu li{
    background-color: #22262E;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

.menu a{
    text-decoration: none;
    color: red;
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active{
	cursor:default;
}

.menu li li{
    margin-top: 2px;
    background-color: #343A46;
    list-style: none;
    text-align: center;
}

.menu li:hover{
	background-color: #0F1114;
}

.menu li li:hover{
    background-color: #2A2D31;
}

.left{
    float: left;
    position: absolute;
    background-color: #333231;
    width: 199px;
    height: 100%;
}

.title{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: Georgia;
}

.listName{
    font-size: 30px;
    color: grey;
    font-family: "Comic Sans MS", serif;
    margin: 20px;

}

body{
    background-image: url(background.jpg);
    color: grey;
}

h1{
    font-style: oblique;
    color: black;
    letter-spacing: 10px;
}

h2{
    font-family: fantasy;
    letter-spacing: 2px;
    color: red ;
}

p{
    text-indent: 20px;
}

p:first-letter{
    font-size: 30px;
    color: black;
}

a:hover{
    color: dodgerblue;
    cursor: default;
}

table{
    border: solid black;
    border-width: 5px;
    color: black;
}

#col1{
    background-color: blue;
}

#col2{
    background-color: yellow;
}

#col3{
    background-color: red;
}

thead{
    text-transform: uppercase;
    font-style: normal;
}

ol{
    list-style-type: upper-roman;
}

ol ol{
    list-style-type: lower-roman;
}

ol ol ol{
    list-style-type: lower-greek;
}

#o1{
    float: left;
    margin-left: 0;
}

#o2{
    float: right;
    margin-right: 0;
}
